.navbar {
    position: fixed;
    z-index: 9999;
    width: 100%;
    
    display: table;
    padding:10px 20px;
}
.nav-link{
    color:#000;
}
.box-animation{
    padding:300px !important;
    color:#fff;
    line-height: 50px;
}
.box-animation h5{
    margin-bottom:100px;
}
.content-body{
    position:relative;
    top: 70px;
}
.hide{
    display:none;
}
.rss{
    margin-bottom:5px;
}
.rss .card{
    line-height:40px;
    padding-bottom:20px;
    margin:10px;
}
.rss .card a{
    text-align:center;
    font-size:18px;
    padding-left:20px;
}
.rss .card img{
    height:50px;
    float:left
}
.rss a{
    color:#000;
    text-decoration:none;
}
.slots li{
    list-style:none;
    border:1px solid #ccc;
    padding:2px 10px;
    margin:3px;
    width:100%;
    border-radius:4px;
}
.slots li:hover{
    background:#eee;
    cursor:pointer;
}
#filter label, #filter input {
    width:30%;
}
#filter{
    background:#fafafa;
    border-bottom:1px solid #ccc;
}
.selected{
    background-color: #515151;
    color:#ffffff;
}
.selected:hover{
    color:#000000;
}
.modal{
    top:100px !important;
}
select[name="reminder_option"]{
    float:right;
    width:90%;
}
.container .heading h2{
    text-align: center !important;
    padding:50px;
    color:#fff;
}
.feature{
    padding:100px;
    line-height: 60px;
    border:1px solid rgba(82,9,121,1);
    border-radius:20px;
    margin:20px;
    clear:both !important;
}
.feature h4{
    font-size:30px; 
    color:rgba(82,9,121,1);
    margin-bottom:30px;
}
.feature.odd img{
    float:right;
}
.feature.odd ul{
    font-size: 20px;
    float: left;
}
.feature.even img{
    float:left;
}
.feature.even ul{
    font-size: 20px;
    float: right;
}
.cms{
    padding:100px !important;
    line-height: 35px;
    font-size:18px;
}

.company-detail{
    background:#fafafa;
    padding:20px;
    border: 1px solid #000;
    /* height: 300px; */
    overflow: hidden;
    margin-bottom: 20px !important;
    width:100% !important;
}
.company-detail h1{
    margin:40px 0px !important;
}
.company-detail p{
    line-height: 40px;
}
.show-more{
    /* position: relative;
    top:-35px;
    right: -15px; */
}
.slot{
    border: 1px solid #cacaca;
    padding:10px 30px 0px 10px;
    border-radius:10px;
    margin:5px;
    color:#fff;
    font-size:18px;
}
.available{
    background-color: green;
    cursor: pointer;
}
.booked{
    background-color: #cc0000;
}
.debug{
    border: 1px solid red;
}

.category-detail{
    background:#fafafa;
    padding:20px;
    border: 1px solid #000;
    overflow: hidden;
    margin-bottom: 20px !important;
    width:100% !important;
}
.category-detail h1{
    margin:40px 0px !important;
}
.category-detail p{
    line-height: 40px;
}
.category-detail .brand{
    border:1px solid #515151; 
    border-radius:10px;
    padding:10px;
    margin:10px;
    background-color: #fff;
}
.category-detail .brand img{
    width: 100%;
}
.company{
    float:left;
    margin:0px 20px;
}
.company h5{
    margin-bottom: 10px !important;
}
.company img{
    border-radius:10px;
    background: #fff;
    height: 130px;
}
.company .view-more{
    margin-top:20px !important;
}
.company a{
    color:#fff !important;
}
.company a{
    color:#000 !important;
}
.company-logo{
    float:right;
    border:1px solid #515151;
    background-color: #fff;
    padding:10px;
    width:300px;
}