.debug{
    border: 1px solid red !important;
}
.back{
    float:left;
    text-align: left;
    text-decoration: none;
    color:#515151;
}
.hide{
    display:none !important;
}
select{
    border:1px solid #ccc !important;
    width:100% !important;
    background-color: #fff !important;
}
select > option{
    font-weight: 400 !important;
    color: #192839 !important;
}
.form-group{
    display:block;
    clear:both;
}
label, .info-box div div p, .info-box div div ul{
    text-align: left !important;

}
small.form-text{
    float: left !important;
    margin-bottom:10px;
}
.company-switcher-button img{
    position: relative;
    left: 18px;
}
.fa-chevron-down{
    position: relative;
    left: -8px;
}
.upload-instructions{
    text-align: left;
}